body    {
    background-color:rgb(212, 191, 0);
    color:rgb(25, 22, 219);
}

h1  {
    text-align:center;
    color:rgb(61, 26, 214);
}

table   {
    width:60%;
    margin:auto;
    background-color:rgb(71, 2, 4);
    border:2px groove #063672;
}

td, th  {
    background-color:rgb(212, 191, 0);
    border:1px solid rgb(185, 179, 214);
}